/* Materialize CSS */
@import 'materialize-css/prefixer';
@import 'materialize-css/color';
@import 'materialize-css/variables';
@import 'materialize-css/grid';
@import 'materialize-css/typography';
@import 'materialize-css/global';
@import 'materialize-css/navbar';

$bg-color: #fff;
$fg-color: #222;
$chat-bubble-bg: color('grey', 'lighten-3');

html {
  font-size: 16px;
}

body {
  background-color: $bg-color;
    flex-direction: column;
       font-family: 'Roboto', sans-serif;
        min-height: 100vh;
        overflow-y: scroll;
           display: flex;
             color: $fg-color;
}

.brand-logo {
  font-weight: 500;
}

main {
  flex-shrink: 0;
   flex-basis: auto;
    flex-grow: 1;
      padding: 1.5rem 0;
}

.chat-bubble {
  background-color: color('grey', 'lighten-3');
     border-radius: .3rem;
          position: relative;
           padding: 1rem;
             float: left;
}

/* Create arrow for chat bubbles */
.chat-bubble::before {
  border-bottom: .7rem solid transparent;
   border-right: .7rem solid $chat-bubble-bg;
     border-top: .7rem solid transparent;
       position: absolute;
        content: '';
         height: 0;
          width: 0;
          right: 100%;
}

/* Make every other chat bubble align to the right */
main > .row:nth-child(even) > .col {
  float: right;

  > .chat-bubble {
    float: right;
  }

  > .chat-bubble::before {
  @extend .chat-bubble::before;
   border-right: unset;
    border-left: .7rem solid $chat-bubble-bg;
           left: 100%;
  }
}

ul,
.chat-bubble > .row {
  margin-bottom: 0;
     margin-top: 0;
}

/* Adds margin between uls on small screens */
@media only screen and (max-width : 600px) {
  .chat-bubble > .row > :nth-last-child(n+2) ul {
    margin-bottom: 1rem;
  }
}

.chat-bubble ul > li {
  padding-left: .3rem;
   margin-left: .7rem;
    list-style: '-';
}

code {
  background-color: lighten($chat-bubble-bg, 3%);
       font-family: monospace;
         font-size: .7em;
         word-wrap: break-word;
         max-width: 100%;
           padding: .2rem;
}

main > .row:last-child {
  margin-bottom: 0;
}

footer.page-footer {
  margin-top: 0;
   font-size: .7rem;
       color: $bg-color;
}

#heart {
  color: color('materialize-red', 'base');
}

.chat-bubble::selection,
.chat-bubble ::selection {
  background-color: $fg-color;
             color: $chat-bubble-bg;
}
.chat-bubble::-moz-selection,
.chat-bubble ::-moz-selection {
  background-color: $fg-color;
             color: $chat-bubble-bg;
}

::selection {
  background-color: rgba($bg-color, 0.9);
             color: $primary-color;
}

::-moz-selection {
  background-color: $bg-color;
             color: $primary-color;
}
